<section class="navbar-section">
  <div class="navbar-container">
    <img src="assets/images/Logo.png" alt="Logo" />
    <header>
      <h1>PROJEÇÃO DOCUMENTAL</h1>
    </header>

    <!-- Mobile Menu Button (hidden by default) -->
    <button class="mobile-menu-button">☰</button>

    <nav class="navbar">
      <a href="#about">sobre nós</a>
      <a href="#services">serviços</a>
      <a href="#connections">conexões úteis</a>
      <a href="#contact">contato</a>
    </nav>

    <!-- Mobile Dropdown Menu (hidden by default) -->
    <nav class="mobile-dropdown">
      <a href="#about">sobre nós</a>
      <a href="#services">serviços</a>
      <a href="#connections">conexões úteis</a>
      <a href="#contact">contato</a>
    </nav>
  </div>
</section>
