<section id="services" class="services-section">
  <div class="services-container">
    <h2>serviços</h2>
    <div class="services-grid">
      <div class="service-box">
        <h2 style="color: var(--color-accounting)">assessoria contábil</h2>
        <ul>
          <li>
            <p>Elaboração de diário, razão, balancete e balanço patrimonial</p>
          </li>
          <li>
            <p>
              Processamento de brigações acessórias municipais, estaduais e
              federais
            </p>
          </li>
          <li><p>Controle e administração de bens do Ativo Fixo</p></li>
          <li><p>Elaboração de relatórios gerenciais</p></li>
          <li>
            <p>Apuração de tributos provenientes da escrituração contábil</p>
          </li>
        </ul>
      </div>
      <div class="service-box">
        <h2 style="color: var(--color-fiscal)">assessoria fiscal</h2>
        <ul>
          <li><p>Sistema Público de Escrituração Digital - SPED</p></li>
          <li><p>Guia de Informação e Apuração do ICMS - GIA</p></li>
          <li>
            <p>Apuração de encargos municipais, estaduais e federais</p>
          </li>
          <li><p>Escrituração fiscal digital - REINF</p></li>
          <li><p>Apuração de faturamento</p></li>
          <li><p>Execução de livro caixa</p></li>
          <li><p>Escrituração dos livros fiscais estatutários</p></li>
        </ul>
      </div>
      <div class="service-box">
        <h2 style="color: var(--color-personnel)">assessoria pessoal</h2>
        <ul>
          <li><p>Admissão e demissão de pessoal</p></li>
          <li>
            <p>Execução de relatório de controle e cálculo de férias</p>
          </li>
          <li>
            <p>
              Execução de relatórios de controle de contrato de experiência e
              afastamento
            </p>
          </li>
          <li><p>Comunicados ao e-Social</p></li>
          <li>
            <p>Emissão de recibos de cesta básica e vale transporte</p>
          </li>
          <li><p>Emissão de holerite</p></li>
          <li>
            <p>Calculo de guias de impostos sobre a Folha de Pagamento</p>
          </li>
        </ul>
      </div>
      <div class="service-box">
        <h2 style="color: var(--color-documentation)">assessoria documental</h2>
        <ul>
          <li><p>Abertura, alteração e fechamento de empresas</p></li>
          <li><p>Certificação com Conselhos de Classe</p></li>
          <li><p>Emissão do Alvará da Vigilância Sanitária</p></li>
          <li><p>Alvará de licença e funcionamento</p></li>
          <li><p>Emissão de certidões negativas</p></li>
          <li><p>Emissão de Certificado Digital</p></li>
          <li><p>Emissão de AVCB/CLCB</p></li>
        </ul>
        <div class="floating-seal">
          <p>abra sua empresa gratuitamente</p>
        </div>
      </div>
    </div>
  </div>
</section>
