.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-bottom: 20px;
}

.carousel-container h3,
.carousel-container p {
  color: white;
}

.carousel-container h3 {
  margin-bottom: 10px;
}

.carousel-container p {
  margin-bottom: 20px;
}
